{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": ["error", "never"],
        "quotes": ["error", "double"],
        "comma-dangle": ["error"],
        "@typescript-eslint/no-explicit-any": "off"
    },
    "ignorePatterns": [
        "snowpack.config.js",
        "build/"
    ]
}