/* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin:auto auto;
    margin-bottom: 10px;
  }

  /* Style the tab content */
  .innertabcontent {
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 370px;
    margin:auto auto;
    margin-bottom: 5px;
    margin-top: 20px;
  }