/* Global stylesheet */
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}