.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    .modal-main {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        position: fixed;
        background: var(--background-color);
        width: 600px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 1em;
    }

    .modal-exit {
        color: white;
        cursor: pointer;
        float: right;

        svg {
            height: 2em;
        }
    }
}

@media only screen and (max-width: 700px) {
    .modal-main {
        width: 100% !important;
    }
}