{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": ["error", "never"],
        "quotes": ["error", "double"],
        "comma-dangle": ["error"],
        "@typescript-eslint/explicit-module-boundary-types": ["error"]
    },
    "ignorePatterns": [
        "snowpack.config.js"
    ]
}