@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

:root {
    --background-color: #19171b;
    --lighter-bg: rgba(255, 255, 255, 0.04);
    --darker-bg: rgba(14, 12, 18, 1);
    --placeholder-bg: rgba(37, 32, 47, 1);
    --placeholder-text: rgba(85, 73, 84, 1);
    --accent-color: rgba(187, 134, 252, 1);
    --error-color: rgba(250, 77, 80, 1);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

body {
    background-color: var(--background-color);
    color: white;
}

.centered {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    ~ footer {
        position: fixed;
    }
}

button {
    background-color: var(--accent-color);
    color: white;
}

button.github {
    background-color: black;
    color: white;
}

button.google {
    background-color: white;
    color: black;
}

button, button.github, button.google {
    font-size: 0.9em;
    padding: 0.5em;
    transition: color 0.1s, background-color 0.1s, border 0.1s;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid transparent;
    border-radius: 0.3em;

    svg {
        height: 1.3em;
        justify-self: flex-start;
        position: absolute;
        left: 0.5em;
        fill: none;
    }

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }
}

a {
    color: var(--accent-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

input {
    border: 1px solid rgb(255, 255, 255, 0.3);
    background-color: transparent;
    font-size: 1em;
    border-radius: 0.3em;
    padding: 0.5em;
    color: white;
}

.card {
    padding: 1em;
    width: 25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--lighter-bg);
}

.error {
    color: var(--error-color);
}

.page {
    width: 65%;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 2em;

    .title {
        font-size: 2.5em;
    }
}

@media (max-width: 600px) {
    .page {
        width: 85%;
    }
}

div.fullpage-info {
    text-align: center;
    width: 500px;

    svg {
        fill: white;
        width: 100px;
    }

    p {
        margin-top: 10px;
    }
}

hr.divider {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--accent-color);
    height: 1px;
    border: none;
}

.data-label {
    opacity: 50%;
    font-weight: bold;

    > * {
        float: left;
    }

    hr {
        width: 15px;
        margin: 5px;
        margin-top: 10px;
    }

    span:first-of-type {
        margin-left: 5px;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}