.separator {
    display: grid;
    grid-template-columns: 1fr 2em 1fr;
    align-items: center;
    opacity: 30%;
    text-transform: uppercase;
    margin: 0.5em 0;
    text-align: center;
}

.separator span {
    font-size: 0.9em;
}

.separator hr {
    width: 100%;
    height: 1px;
}
