<!DOCTYPE html>
<html>

<head>
    <!-- Required Stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nekos.cafe</title>
    <link rel="stylesheet" href="/assets/libs/bulma-0.8.0/css/bulma.min.css">
    <script defer src="/assets/libs/fontawesome-5.12.1/js/all.js"></script>

    <%- include('partials/meta') %>
</head>

<body>
    <section class="hero is-success is-fullheight has-background-black">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="/assets/images/404.png">
                <h1 style="margin-top: -20px; font-size: 50px;" class="title">
                    404
                </h1>
                <h2 class="subtitle">
                    Are you lost?
                </h2>

                <%- include('partials/footer') %>

            </div>
        </div>
    </section>
</body>

</html>