<!DOCTYPE html>
<html>

<head>
    <!-- Required Stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nekos.cafe</title>
    <link rel="stylesheet" href="/assets/libs/bulma-0.8.0/css/bulma.min.css">
    <script defer src="/assets/libs/fontawesome-5.12.1/js/all.js"></script>
    <script src="/assets/libs/axios.min.js"></script>
    <script src="/assets/libs/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/upload/style.css">
    <script src="/assets/dropzone/dropzone.min.js"></script>

    <%- include('partials/meta'); %>
</head>

<body>
  <section class="hero is-success is-fullheight has-background-black">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Nekos.cafe
        </h1>
        <h2 class="subtitle">
          Give me your files, nyaa~
        </h2>
        
        <div style="margin-top: -10px;" id="dropzone" class="button is-link"><i class="fas fa-upload"></i>&nbspUpload File</div>
        <div style="margin-bottom: 10px; margin-top: 10px;" id="previewcontainer"></div>

        <%- include('partials/footer'); %>
      </div>
    </div>
    </div>
  </section>
  <script>
      window.uploadsize = "<%= maxfilesize %>"
  </script>
  <script src="/upload/script.js"></script>
</body>

</html>