form#sign-in {
    padding: 1em;
    width: 25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.04);

    h2 {
        margin: 0.5em 0;
    }

    input {
        border: 1px solid rgb(255, 255, 255, 0.3);
        background-color: transparent;
        font-size: 1em;
        border-radius: 0.3em;
        padding: 0.5em;
        color: white;
    }

    .separator {
        display: grid;
        grid-template-columns: 1fr 2em 1fr;
        color: white;
        align-items: center;
        opacity: 30%;
        text-transform: uppercase;
        margin: 0.5em 0;

        span {
            font-size: 0.9em;
        }

        hr {
            width: 100%;
            border: none;
            height: 1px;
            background-color: white;
        }
    }
}
