.errorlist {
  color: #616161;
}

.ploader {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  display: block; 
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
  
.ploader::-webkit-progress-bar {
  background-color: #1a1a1a;
}
  
.ploader::-webkit-progress-value {
  background-color: #1a1a1a;
}
  
.ploader::-moz-progress-bar {
  background-color: #1a1a1a;
}
  
.ploader::-ms-fill {
  background-color: #1a1a1a;
  border: none;
}
  
.ploader.blue::-webkit-progress-value {
  background: linear-gradient(to right, #3273dc, #209CEE);
}
  
.ploader.blue::-moz-progress-bar {
  background: linear-gradient(to right, #3273dc, #209CEE);
}
  
.ploader.blue::-ms-fill {
  background: linear-gradient(to right, #3273dc, #209CEE);
}
  
.ploader.is-small {
  height: 0.75rem;
}
  
.ploader.is-medium {
  height: 1.25rem;
}
  
.ploader.is-large {
  height: 1.5rem;
}