footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    font-size: 0.8em;
    padding: 1.5em;
    display: flex;
    text-transform: uppercase;
    gap: 1.5em;

    a {
        color: white;
        font-size: 1.1em;
        font-weight: 400;
        text-decoration: none;
        opacity: 0.5;
        letter-spacing: 0.05em;
    }
}
