#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
        opacity: 0.6;
    }

    h3:last-child {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        opacity: 1;
        margin-top: 0.5em;
    }

    svg {
        height: 1em;
    }
}
