nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 1em;
    padding: 1.5em;
    display: flex;
    text-transform: uppercase;

    > *:first-child {
        margin-right: auto;
    }

    a {
        color: white;
        font-size: 1.1em;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
