.file-search {
    .file-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .pagination {
        margin: 0 auto;
        text-align: center;

        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
            margin: 0 0.5em;
        }

        a {
            color: white;
            opacity: 0.5;
        }

        .selected {
            opacity: 1;
            color: var(--accent-color);
        }

        margin-top: 2em;
        font-size: 1.2em;
    }

    .no-result {
        opacity: .3;
        text-align: center;
        width: 100%;

        svg {
            width: 5rem;
        }

        .message {
            text-align: center;
        }

        @media screen and (min-width: 700px) {
            .message {
                display: inline-block;
                position: relative;
                text-align: left;
                top: -1em;
            }

            svg {
                margin-right: 0.5em;
            }
        }
    }
}

.file-card {
    width: 11rem;
    height: 15rem;
    background-color: var(--darker-bg);

    .placeholder, img {
        width: 11rem;
        height: 10rem;
        object-fit: cover;
    }

    .placeholder {
        text-align: center;
        background-color: var(--placeholder-bg);
        padding-top: 3.5rem;
        color: var(--placeholder-text);
        
        h1 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 3em;
            margin: auto;
        }
    }

    .details {
        padding: .8em;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 10em;
        }

        .date {
            color: white;
            opacity: .6;
            font-size: .8em;
        }
    }
}