.file-search {
    .file-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .pagination {
        margin: 0 auto;
        text-align: center;

        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
            margin: 0 0.5em;
        }

        a {
            color: white;
            opacity: 0.5;
        }

        .selected {
            opacity: 1;
            color: var(--accent-color);
        }

        margin-top: 2em;
        font-size: 1.2em;
        cursor: pointer;
    }

    .no-result {
        opacity: .3;
        text-align: center;
        width: 100%;

        svg {
            width: 5rem;
        }

        .message {
            text-align: center;
        }

        @media screen and (min-width: 700px) {
            .message {
                display: inline-block;
                position: relative;
                text-align: left;
                top: -1em;
            }

            svg {
                margin-right: 0.5em;
            }
        }
    }

    .file-modal {
        word-break: break-all;

        h1 {
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        .modal-image {
            margin: 0 auto;
            display: table;

            img {
                max-width: 100%;
                max-height: 25em;
                object-fit: cover;
            }
        }

        table {
            border-collapse: collapse;
            margin: 1em 0;
            font-size: 1em;
            width: 100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            table-layout: auto;

            th, td {
                padding: 12px 15px;
            }

            tr {
                background-color: var(--lighter-bg);

                td:first-child {
                    text-transform: uppercase;
                    font-weight: bold;
                    opacity: 0.5;
                    width: 10em;
                }

                &:nth-of-type(even) {
                    background-color: var(--background-color);
                }
            }
        }
    }
}

.file-card {
    width: 10rem;
    height: 15rem;
    background-color: var(--darker-bg);

    .placeholder, img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }

    .placeholder {
        text-align: center;
        background-color: var(--placeholder-bg);
        padding-top: 3.5rem;
        color: var(--placeholder-text);
        
        h1 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 3em;
            margin: auto;
        }
    }

    .details {
        padding: .8em;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 10em;
        }

        .date {
            color: white;
            opacity: .6;
            font-size: .8em;
        }
    }
}